# **함수 생성 및 활용**

## **1.input(입력 매개변수)**

* 무작정 만들기

In [1]:
def hello_world() :
    print('Hello, Python World~!')
    
hello_world()

Hello, Python World~!

* 여러 개의 입력매개변수 사용하기

In [2]:
def hello(name, loud = 1) : # loud = 기본값(default)
    if loud == 1 :
        print('HELLO ' + name + ' ~!!!')
    else :
        print('Hello ' + name + ' ~~~')

hello(name = 'Han', loud = 0) # 매개변수 이름과 입력값
hello(name = 'Han')           # 기본값 지정 매개변수 생략
hello('Han')                  # 기본값 지정 매개변수 생략
hello('Han',0)                # 입력매개변수 이름 생략
hello(loud = 0, name = 'Han') # 입력값 순서 바꾸기

Hello Han ~~~
HELLO Han ~!!!
HELLO Han ~!!!
Hello Han ~~~
Hello Han ~~~

* *입력매개변수
    * 입력값의 갯수를 제한하지 않고 받고자 할 때 사용
    * 입력된 데이터 타입은 tuple

In [3]:
def numbers(*nums) :
    print(nums, type(nums))
    
numbers(1, 2, 3)
numbers(2, 4, 6, 8, 10)

(1, 2, 3) <class 'tuple'>
(2, 4, 6, 8, 10) <class 'tuple'>

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 여러 개의 숫자를 입력받아 평균을 계산하여 출력(print)하시오.

In [4]:
def numbers(*nums):
    print(sum(nums) / len(nums))

In [5]:
numbers(1,2,3,4,5)

3.0

## **2.output**

* 함수의 결과를 출력하는 방법 두가지
    * print : 화면에 출력만 수행
    * return : 화면 출력 + 함수 외부로 결과 반환(진짜 output)
        * 결과를 별도 변수에 저장하면, 화면 출력은 생략됨
        * 함수는 return을 만나면 종료됨

### **(1) print vs. return**

In [6]:
def numbers1(*nums) :
    print(nums)

numbers1(1, 2, 3)

(1, 2, 3)

In [7]:
def numbers2(*nums) : 
    return nums

numbers2(1, 2, 3)

(1, 2, 3)

In [8]:
# 함수 출력 : print
a1 = numbers1(1, 2, 3)
print(a1)

print('-'*20)

# 함수 출력 : return
a2 = numbers2(1, 2, 3)
print(a2)

(1, 2, 3)
None
--------------------
(1, 2, 3)

### **(2) 여러 개 output**

In [9]:
def calculator(a, b) :
    summ = a + b
    mult = a * b
    return summ, mult

r1, r2 = calculator(10, 5)
print(r1, r2)

15 50

* 결과값 둘 중 하나만 필요하다면...

In [10]:
r1, _ = calculator(10, 5)

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 여러 개의 숫자를 입력받아 합계와 평균을 계산하여 출력(return)하시오.

In [11]:
def numbers(*nums):
    sum_ = sum(nums)
    avg = sum_ / len(nums)
    
    return sum_, avg

numbers(1,2,3,4,5,6,7,8,9,10)

(55, 5.5)

[문2] 1번 문제에서 생성한 함수를 사용하시오.
* 두 개 변수로 결과를 저장하고 출력
* 평균만 결과를 저장해서 출력(합계는 저장하지 않음)

In [12]:
s, a = numbers(1,2,3,4,5,6,7,8,9,10)
print(s, a)

55 5.5

In [13]:
_, a = numbers(1,2,3,4,5,6,7,8,9,10)
print(a)

5.5

## **3.예외처리**
* 이 내용은 함수 개발시 필요한 부분이지만, 이번 과정에서는 다루지 않겠습니다.

* 아래 코드는 오류가 발생됩니다.
    * 파이썬 오류 메시지 ==> very long
    * 오류 메시지 : 제일 마지막
    * 나머지 : 오류가 난 지점 설명

In [ ]:
def divide(a, b) :
    result = a / b
    return result

divide(10, 0)

### **(1) 입력값에 대한 예외처리**

* 입력값에 대한 예외 처리 필요

In [ ]:
def divide(a, b) :
    if b == 0 :
        print('나누는 값이 0이 될 수 없습니다.')
    else: 
        result = a / b
        return result

divide(10, 0)

* 입력값의 타입에 대한 확인이 필요할 수 있습니다.
    * 정수 : int
    * 실수 : float
    * 문자열 : str
    * 리스트 : list
    * 딕셔너리 : dict

In [ ]:
a = 1
type(a) == int

In [ ]:
b = [1,2,3]
type(b) == list

In [ ]:
c = {'a':1, 'b': [1,2,3]}
type(c) == dict

### **(2) 오류에 대한 일반 처리(try, except)**

* try :
    * 오류를 감지하고자 하는 코드 블럭
* except :
    * 발생된 오류를 처리

#### **1) 특정오류**

In [14]:
try:
    num_str = "abc"
    num = int(num_str)
    
except ValueError:
    print("정수로 변환할 수 없는 문자열입니다.")

정수로 변환할 수 없는 문자열입니다.

In [15]:
def divide(a, b) :
    try :
        result = a / b
        return result
    
    except ZeroDivisionError:
        print("0으로 나눌수 없습니다.")
        
divide(10, 0)

0으로 나눌수 없습니다.

#### **2) 오류 전체**

In [16]:
def divide(a, b) :
    try :
        result = a / b
        return result
    
    except Exception as e:
        print("오류가 발생하였습니다:", e)
        
divide(10, 0)

오류가 발생하였습니다: division by zero

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 여러 개의 숫자를 입력받아 합계와 평균을 계산하여 출력(return)하는 함수에 대해 입력값에 대한 예외처리를 수행하시오.
* 모든 입력값이 정수인지 점검하고, 
* 아닌 경우 "모든 숫자를 정수로 입력해주세요." 출력

In [19]:
def calculate(*n):
    try:
        
        if type(sum(n)) == int:
            summ = sum(n)
            avg = summ / len(n)
            return summ, avg
            
        else:
            print("모든 숫자를 정수로 입력해주세요.")
            
    except Exception as e:
        print("모든 숫자를 정수로 입력해주세요.")    
        
calculate(1,2,3,5,10)

(21, 4.2)

## **4.복습문제**

1. 기념일 계산기를 만듭시다.  
* 입력 : 특별한 날(year, month, day)
    * 입력한 year, month, day 가 날짜 형식이 맞는지 점검하고 날짜 형식으로 반환하는 함수는 제공됩니다.(date_check)
    * 입력한 날짜가 오늘 이후 이면 안됩니다.
* 처리 : 입력한 날로부터 오늘이 몇일째인지 계산
    * 오늘 날짜 : datetime.now()
    * 두 날짜의 차이를 일(day)로 표시 : (날짜 - 날짜).days
* 출력 : "오늘은 OOO일째 입니다!"

In [ ]:
from datetime import datetime

def date_check(year, month, day):
    try:
        year = int(year)
        month = int(month)
        day = int(day)

        date = datetime(year, month, day)
        return date
    
    except ValueError as e:
        print("올바른 날짜 형식으로 입력해주세요.")
        return None