# **ë°ì´í„° ë‹¤ë£¨ê¸° ë³µìŠµ**

## 0.í™˜ê²½ì¤€ë¹„ + ë°ì´í„° ë¡œë“œ

* ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

* ë°ì´í„° ê°€ì ¸ì˜¤ê¸°

In [3]:
sales = pd.read_csv("https://raw.githubusercontent.com/DA4BAM/dataset/master/sales.csv")
products = pd.read_csv("https://raw.githubusercontent.com/DA4BAM/dataset/master/products.csv")
#products.drop('CategoryOrd', axis =1, inplace = True)
customers = pd.read_csv("https://raw.githubusercontent.com/DA4BAM/dataset/master/customers2.csv")

In [4]:
sales.head()

   OrderID  Seq   OrderDate ProductID  Qty   Amt CustomerID
0      107    2  2016-01-02  p1036481    2  2100    c150417
1       69    1  2016-01-02  p1152861    1  1091    c212716
2       69    7  2016-01-02  p1013161    1  2600    c212716
3       69    8  2016-01-02  p1005771    1  1650    c212716
4       69   11  2016-01-02  p1089531    1  2600    c212716

In [5]:
products.head()

  ProductID ProductName Category SubCategory
0  p1052661         ìƒˆìš°ê¹¡       ê°„ì‹          ê³¼ì
1  p1054261       ê³ êµ¬ë§ˆìŠ¤í‹±       ê°„ì‹          ê³¼ì
2  p1097821          ì§±êµ¬       ê°„ì‹          ê³¼ì
3  p1097831         ê°ìì¹©       ê°„ì‹          ê³¼ì
4  p1119071        ë¿Œì…”ë¿Œì…”       ê°„ì‹          ê³¼ì

In [6]:
customers.head()

  CustomerID RegisterDate Gender  BirthYear
0    c328222   2014-09-25      F       1960
1    c281448   2013-06-18      F       1974
2    c038336   2003-10-10      F       1968
3    c084237   2007-03-09      F       1982
4    c162600   2010-06-14      F       1978

## 1.ë°ì´í„°í”„ë ˆì„ ì¡°ê±´ ì¡°íšŒí•˜ê¸° : .loc

In [ ]:
# 1. êµ¬ë§¤ì•¡(Amt)ì´ 10000ì› ì´ìƒì¸ íŒë§¤ì •ë³´ë¥¼ ì¡°íšŒí•˜ì‹œì˜¤.
# sales.loc[í–‰ ì¡°ê±´  , ì—´ ì´ë¦„]
# sales.loc[í–‰ ì¡°ê±´]

In [ ]:
# 2. 2016ë…„ 2ì›” íŒë§¤ ì •ë³´ë¥¼ ì¡°íšŒí•˜ì‹œì˜¤.
# ì¡°ê±´ ë‘ê°œ ì´ìƒ ì—°ê²° &(and), |(or), ì£¼ì˜ì‚¬í•­ : ì¡°ê±´ ê°ê°ì„ ()ë¡œ ë¬¶ì–´ì•¼í•œë‹¤.

In [13]:
# ğŸ¤”3. 2ë²ˆ ë¬¸ì œë¥¼ .between()ì„ ì‚¬ìš©í•´ì„œ ì¡°íšŒí•´ë³´ì„¸ìš”.
#sales.loc[sales['OrderDate'].between('2016-02-01','2016-02-30')]
sales.loc[sales['OrderDate'].between('2016-02-01', '2016-03-01', inclusive='left')]

      OrderID  Seq   OrderDate ProductID  Qty    Amt CustomerID
4499      241    8  2016-02-01  p1012811    2   5000    c206248
4500      241    9  2016-02-01  p1012751    2   2700    c206248
4501      241   11  2016-02-01  p1144371    5  14250    c206248
4502      241   12  2016-02-01  p1179241    1   1500    c206248
4503      241   13  2016-02-01  p1013161    4  12000    c206248
...       ...  ...         ...       ...  ...    ...        ...
8851       25   11  2016-02-29  p1191881    1   1750    c146132
8852       25   12  2016-02-29  p1207281    1   2600    c146132
8853       25   14  2016-02-29  p1005621    1   2900    c146132
8854       25   19  2016-02-29  p1012751    1   1500    c146132
8855       27    1  2016-02-29  p1005621    1   2030    c146132

[4357 rows x 7 columns]

* .between() : https://pandas.pydata.org/docs/reference/api/pandas.Series.between.html

In [ ]:
# 4. ìƒí’ˆë“¤ ì¤‘ì—ì„œ í•˜ìœ„ ì¹´í…Œê³ ë¦¬(SubCategory)ê°€ ì‚¬íƒ•ë¥˜, ê³¼ì, ë¹µ ì¸ ìƒí’ˆì„ ì¡°íšŒí•˜ì‹œì˜¤. (.isin ì‚¬ìš©)

* .isin() : https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isin.html

## 2.ë‚ ì§œ ë°ì´í„° ë‹¤ë£¨ê¸°

In [ ]:
# 1. Salesì˜ ë‚ ì§œ ë°ì´í„°ë¥¼ ë‚ ì§œ í˜•ì‹ìœ¼ë¡œ ë³€í™˜í•˜ì‹œì˜¤.
# pd.to_datetime(date, format = '%d/%m/%Y') # format = '%d/%m/%Y' ì…ë ¥ë˜ëŠ” ë‚ ì§œê°€ ì´ëŸ° í˜•íƒœì•¼~~ ë¼ê³  ì•Œë ¤ì£¼ëŠ” ì˜µì…˜
# ë‚ ì§œ íƒ€ì…ìœ¼ë¡œ ë³€í™˜í•˜ë©´, ë‚ ì§œ ìš”ì†Œë¥¼ ì¶”ì¶œ í•  ìˆ˜ ìˆë‹¤.

* .to_datetime : https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html
* format : https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [ ]:
# 2. sales ë°ì´í„°í”„ë ˆì„ì— ì—°ë„ ë³€ìˆ˜ë¥¼ ì¶”ê°€í•˜ì‹œì˜¤.
# ë‚ ì§œí˜•ì‹ì˜ ë³€ìˆ˜.dt.  <==ë‚ ì§œ ìš”ì†Œê°€ íŒì—…ìœ¼ë¡œ...

In [ ]:
# 3. sales ë°ì´í„°í”„ë ˆì„ì— ì›” ë³€ìˆ˜ë¥¼ ì¶”ê°€í•˜ì‹œì˜¤.

In [ ]:
# 4. customers ë°ì´í„°í”„ë ˆì„ì˜ RegisterDateë¥¼ ë‚ ì§œíƒ€ì…ìœ¼ë¡œ ë³€í™˜í•˜ì‹œì˜¤.

In [ ]:
# 5. customers ë°ì´í„°í”„ë ˆì„ì— ë‹¤ìŒ ë‘ ë³€ìˆ˜ë¥¼ ì¶”ê°€í•˜ì‹œì˜¤.
# ë“±ë¡ì—°ë„ RegisterYear
# ë“±ë¡ê¸°ê°„(ë“±ë¡ì—°ë„ë¶€í„° í˜„ì¬ê¹Œì§€ì˜ ë…„ ìˆ˜)

In [ ]:
# 6. customers ë°ì´í„°í”„ë ˆì„ì— ë‚˜ì´ë¥¼ ê³„ì‚°í•´ì„œ ë³€ìˆ˜ë¥¼ ì¶”ê°€í•˜ì‹œì˜¤.

# ê¼­ í•´ë³´ê¸°~

In [ ]:
# 7. customers ë°ì´í„°í”„ë ˆì„ì—ì„œ ë‚˜ì´ë¡œ ë¶€í„° ì—°ë ¹ëŒ€ë¥¼ ì¶”ê°€í•˜ì‹œì˜¤. pd.cut
# ìˆ«ìí˜• ë³€ìˆ˜ë¥¼ ë²”ì£¼ë¡œ ë³€í™˜í•´ì£¼ê¸°.

pd.cut ì„¤ëª… (https://pandas.pydata.org/docs/reference/api/pandas.cut.html)

## 3.ì§‘ê³„ : value_counts(), groupby()

* value_counts() : https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
* groupby() : https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

In [ ]:
# 1.Category ë³„ ìƒí’ˆ ìˆ˜ë¥¼ ì¡°íšŒí•˜ì‹œì˜¤.(.value_counts())

In [ ]:
# 2. ì¶œìƒ ì—°ë„ë³„ íšŒì›ìˆ˜(.value_counts())

In [ ]:
# 3. 2016ë…„ ì›”ë³„, ë§¤ì¶œì•¡ê³¼ ì´ íŒë§¤ìˆ˜ëŸ‰(sum)ì„ ì¡°íšŒ. (.groupby)

## 4.ê²°í•© â‘  : ì¡°ì¸ join(merge)

* íŒë‹¤ìŠ¤ì—ì„œ joinì€ êµ‰ì¥íˆ ê°„ë‹¨í•©ë‹ˆë‹¤.
* ìë™ìœ¼ë¡œ keyë¥¼ ì¡ì•„ì¤ë‹ˆë‹¤
* defaultë¡œ inner joinì„ í•©ë‹ˆë‹¤.

In [36]:
# ğŸ¤”1. salesì™€ productsë¥¼ productid ê¸°ì¤€ìœ¼ë¡œ mergeí•˜ì—¬ ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì €ì¥í•©ë‹ˆë‹¤.
merge_df = pd.merge(sales, products, how = 'inner', on='ProductID')

In [17]:
# ğŸ¤”2. Category ë³„ ì´ ë§¤ì¶œì•¡(Amt)
merge_df.groupby('Category')['Amt'].sum()

Category
ê°„ì‹     12920570
ê³¼ì¼     49789339
ë°˜ì°¬ë¥˜    32204820
ìœ ì œí’ˆ    45261956
ì±„ì†Œ     54822783
Name: Amt, dtype: int64

In [18]:
# ğŸ¤”3. Category ë³„ ì´ íŒë§¤ëŸ‰(qty)
merge_df.groupby('Category')['Qty'].sum()

Category
ê°„ì‹     12130
ê³¼ì¼      6786
ë°˜ì°¬ë¥˜    20210
ìœ ì œí’ˆ    19731
ì±„ì†Œ     27859
Name: Qty, dtype: int64

In [27]:
# ğŸ¤”4. ì „ì²´ì—ì„œ ê°€ì¥ ë§¤ì¶œì´ ë†’ì€ ìƒí’ˆëª… 10ê°œ ì¡°íšŒ
(merge_df.groupby('ProductName', as_index=False)['Amt']
 .sum()
 .sort_values('Amt', ascending=False)
 .head(10))

   ProductName       Amt
37      ìš°ìœ 1000  18129067
23        ì‚¬ê³¼_ì†Œ  14078818
9         ë”¸ê¸°_ëŒ€  11011541
7         ë‘ë¶€_ëŒ€  10119037
10        ë”¸ê¸°_ì†Œ   7517664
8         ë‘ë¶€_ì†Œ   7319963
49         ì½©ë‚˜ë¬¼   6971347
39       ìœ ê¸°ë†ìš°ìœ    6437323
50         í† ë§ˆí†    6291001
43          ì°¸ì™¸   5491030

* ì •ë ¬ : .sort_values : https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html

## 5.ê²°í•© â‘¡ : ë¶™ì´ê¸°  concat()

In [22]:
# ğŸ¤”1. ìœ„ ì‹¤ìŠµ 4-2,3ë²ˆì˜ ê²°ê³¼ë¥¼ ê°ê° dataframeìœ¼ë¡œ ì €ì¥í•˜ì‹œì˜¤.
df1 = merge_df.groupby('Category')['Amt'].sum()
df2 = merge_df.groupby('Category')['Qty'].sum()

* ì˜†ìœ¼ë¡œ ë¶™ì´ê¸° concat(,  axis = 1)

* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html

In [23]:
# ğŸ¤”2. ì˜†ìœ¼ë¡œ ë¶™ì´ê¸° concat(, axis = 1)
pd.concat([df1, df2], axis=1)

               Amt    Qty
Category
ê°„ì‹        12920570  12130
ê³¼ì¼        49789339   6786
ë°˜ì°¬ë¥˜       32204820  20210
ìœ ì œí’ˆ       45261956  19731
ì±„ì†Œ        54822783  27859

In [24]:
# ğŸ¤”3. 2016ë…„ 1ì›” íŒë§¤ë°ì´í„°ë¥¼ ì €ì¥í•˜ì‹œì˜¤.
df_201601 = sales.loc[sales['OrderDate'].between('2016-01-01', '2016-02-01', inclusive='left')]

# 2017ë…„ 1ì›” íŒë§¤ë°ì´í„°ë¥¼ ì €ì¥í•˜ì‹œì˜¤.
df_201701 = sales.loc[sales['OrderDate'].between('2017-01-01', '2017-02-01', inclusive='left')]

# ë‘ ë°ì´í„°ë¥¼ ìœ„/ì•„ë˜ë¡œ ë¶™ì´ì‹œì˜¤.
pd.concat([df_201601, df_201701], axis=0)

       OrderID  Seq   OrderDate ProductID  Qty   Amt CustomerID
0          107    2  2016-01-02  p1036481    2  2100    c150417
1           69    1  2016-01-02  p1152861    1  1091    c212716
2           69    7  2016-01-02  p1013161    1  2600    c212716
3           69    8  2016-01-02  p1005771    1  1650    c212716
4           69   11  2016-01-02  p1089531    1  2600    c212716
...        ...  ...         ...       ...  ...   ...        ...
60649      105   19  2017-01-31  p1089531    1  2500    c217725
60650      105   24  2017-01-31  p1133371    2  2000    c217725
60651      105   26  2017-01-31  p1100371    5  1600    c217725
60652      107    1  2017-01-31  p1207281    1  3300    c234291
60653      107    2  2017-01-31  p1100371    1   400    c234291

[9177 rows x 7 columns]

## 6.ì‹œê³„ì—´ ë°ì´í„° ë‹¤ë£¨ê¸°
rollingì€ ì£¼ë¡œ ì‹œê³„ì—´ ë°ì´í„°ì— ëŒ€í•´ì„œ ì´ë™í‰ê· ê°’ì„ êµ¬í•˜ê±°ë‚˜, í–‰ì„ shift(ì´ë™) ì‹œí‚¬ ë•Œ ì£¼ë¡œ ì‚¬ìš©í•©ë‹ˆë‹¤.
> ì‹œê³„ì—´ ë°ì´í„° : í–‰ê³¼ í–‰ì— ì‹œê°„ìˆœì„œê°€ ìˆëŠ” ë°ì´í„°(ì „ì œ : ì‹œê°„ìˆœìœ¼ë¡œ ì •ë ¬ ë˜ì–´ ìˆëŠ” ìƒíƒœ)

* .shift() : https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shift.html
* .rolling : https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rolling.html

In [ ]:
!pip install pykrx --quiet

In [42]:
from pykrx import stock
import datetime
import numpy as np
import pandas as pd

# ì˜¤ëŠ˜ ë‚ ì§œ ê°€ì ¸ì˜¤ê¸°
today = datetime.datetime.now()

# 1ë…„ ì „ ë‚ ì§œ ê³„ì‚°
one_year_ago = today - datetime.timedelta(days=365)

# ì£¼ê°€ ë°ì´í„° ë‹¤ìš´ë¡œë“œ ë° ê°„ë‹¨í•œ ì²˜ë¦¬
stock = stock.get_market_ohlcv_by_date(one_year_ago.strftime('%Y%m%d'), today.strftime('%Y%m%d'), "030200")
stock.reset_index(inplace = True)
stock = stock[['ë‚ ì§œ', 'ì¢…ê°€', 'ê±°ë˜ëŸ‰']]
stock.columns = ['Date', 'Close', 'Volume']
stock.head()

        Date  Close   Volume
0 2023-09-12  30800   926182
1 2023-09-13  31250  1272677
2 2023-09-14  32000  1049773
3 2023-09-15  32850  1117873
4 2023-09-18  32350   658295

In [43]:
# ğŸ¤”1. ì „ë‚ , ì „ì „ë‚  ì£¼ê°€ ë³€ìˆ˜ë¥¼ ì¶”ê°€í•˜ì‹œì˜¤. (.shift)
stock['shift1'] = stock['Close'].shift(1)
stock['shift2'] = stock['Close'].shift(2)

stock.head()

        Date  Close   Volume   shift1   shift2
0 2023-09-12  30800   926182      NaN      NaN
1 2023-09-13  31250  1272677  30800.0      NaN
2 2023-09-14  32000  1049773  31250.0  30800.0
3 2023-09-15  32850  1117873  32000.0  31250.0
4 2023-09-18  32350   658295  32850.0  32000.0

In [44]:
# ğŸ¤”2. ì „ì „ë‚  ëŒ€ë¹„ ì „ë‚  ì£¼ê°€ ì¦ê° ë³€ìˆ˜ ì¶”ê°€ (.diff)
stock['diff2'] = stock['shift1'].diff(1)
stock.head()

        Date  Close   Volume   shift1   shift2  diff2
0 2023-09-12  30800   926182      NaN      NaN    NaN
1 2023-09-13  31250  1272677  30800.0      NaN    NaN
2 2023-09-14  32000  1049773  31250.0  30800.0  450.0
3 2023-09-15  32850  1117873  32000.0  31250.0  750.0
4 2023-09-18  32350   658295  32850.0  32000.0  850.0

In [45]:
# ğŸ¤”3. 2ë²ˆ ë³€ìˆ˜ê°€ + ì´ë©´ 1, ì•„ë‹ˆë©´ 0 (np.where)
stock['updown'] = np.where(stock['diff2'] > 0, 1, 0)
stock.head()

        Date  Close   Volume   shift1   shift2  diff2  updown
0 2023-09-12  30800   926182      NaN      NaN    NaN       0
1 2023-09-13  31250  1272677  30800.0      NaN    NaN       0
2 2023-09-14  32000  1049773  31250.0  30800.0  450.0       1
3 2023-09-15  32850  1117873  32000.0  31250.0  750.0       1
4 2023-09-18  32350   658295  32850.0  32000.0  850.0       1

In [46]:
# ğŸ¤”4. 3ì¼ ì´ë™í‰ê·  ì£¼ê°€ ë³€ìˆ˜ë¥¼ ì¶”ê°€í•˜ì‹œì˜¤.(rolling().mean())
stock['3rolling'] = stock['Close'].rolling(3).mean()
stock.head()

        Date  Close   Volume   shift1   shift2  diff2  updown      3rolling
0 2023-09-12  30800   926182      NaN      NaN    NaN       0           NaN
1 2023-09-13  31250  1272677  30800.0      NaN    NaN       0           NaN
2 2023-09-14  32000  1049773  31250.0  30800.0  450.0       1  31350.000000
3 2023-09-15  32850  1117873  32000.0  31250.0  750.0       1  32033.333333
4 2023-09-18  32350   658295  32850.0  32000.0  850.0       1  32400.000000